* {
	box-sizing: border-box;
}

a {
	color: $primary;
	text-decoration: none;

	&:hover,
	&:active,
	&:focus {
		color: $primary-light;
		text-decoration: underline;
	}
}

body {
	background-color: $body-background-color;
	font-family: $body-font-family;
}

button,
input,
h1,
h2,
p,
td,
th,
ul {
	color: $body-color;
	font-size: $body-font-size;
	line-height: 1.4;
}

p,
ul {
	margin: 16px 0 0;
}

button,
input {
	&:focus {
		box-shadow: 0 0 0 $focus-border-width $secondary;
		outline: none;
	}
}
