input {
	background-color: $input-background-color;
	border-radius: $button-border-radius;
	border-width: 0;
	color: $input-color;
	line-height: 1;
	padding: $button-padding;
	width: 100%;

	&:hover,
	&:active,
	&:focus {
		background-color: $input-background-color--hover;
		color: $input-color--hover;
	}
}

::placeholder {
	color: $gray;
}

.search {
	display: flex;
}
