#spinner {
	align-items: center;
	display: flex;
	font-size: 0;
	inset: 0;
	justify-content: center;
	position: absolute;

	&::after {
		@include svg-img('../../svg/spinner.svg');

		animation-duration: 4s;
		animation-iteration-count: infinite;
		animation-name: spin;
		animation-timing-function: linear;
		background-repeat: no-repeat;
		background-size: contain;
		content: '';
		display: block;
		height: $spinner-size;
		width: $spinner-size;
	}
}
